.ion-item {
  border-bottom: 1px solid rgb(120, 223, 145);
}
.ion-item:hover,
.ion-item:active {
  border-bottom: 1px solid brgb(120, 223, 145) rown !important;
}
ion-input:hover {
  border-bottom: 1px solid rgb(120, 223, 145);
}
ion-input,
ion-select {
  border-bottom: 1px solid #43cbbd;
}
ion-item {
  padding-top: 10px;
  background-color: #1d4a60;
}
.text {
  color: #43cbbd;
}
.loginButton {
  text-transform: initial;
  font-size: 18px;
  width: 92%;
  margin-left: 5%;
  margin-top: 55px;
  margin-bottom: 20px;
  height: 38px;
}
.containerRegistry {
  display: block;
  background-color: #1d4a60;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.rbutton {
  border-bottom: 1px solid #43cbbd;
}
ion-icon {
  color: #43cbbd;
}
