<ion-split-pane when="(max-width: 10px)">
  <ion-menu side="end" type="overlay" max-edge-start="200">
    <ion-header>
      <ion-toolbar> <ion-title text-center> Opciones </ion-title> </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item (click)="navToPage(p.url)" detail="false">  Without arrowIcon (click)="navToPage(p.url)" -->
          <div *ngFor="let p of appMenu">
            <ion-item (click)="navToPage(p.url)" detail>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label> {{ p.title }} </ion-label>
            </ion-item>
          </div>

          <ion-item (click)="logOut()">
            <ion-icon slot="start" name="md-log-out"></ion-icon>
            <ion-label> Cerrar sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
