<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="_goBack()">
        <ion-icon slot="icon-only" name="ios-close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center style="margin-left: -34px;"
      >Recuperar contraseña</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="containerLogin">
    <ion-grid>
      <ion-row justify-content-center style="padding: 15px;">
        <ion-col align-self-center size-md="8" size-lg="4" size-xs="12">
          <ion-item lines="none" color="medium">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item
            id="iduserEmailValidation"
            style="display:none;"
            lines="none"
            ><ion-label text-center
              >¡Email registrado! ¿Recuperar contraseña?</ion-label
            >
          </ion-item>
          <div style="padding-top: 20px;">
            <ion-button
              class="btnLogin"
              color="secondary"
              size="default"
              expand="full"
              >Enviar correo de recuperación</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
